<div class="container-fluid">
        
    <header class="section-header">
      <h3>Why choose us?</h3>
      <!-- <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p> -->
    </header>
    <div class="row">
      <div class="col-lg-6">
        <div class="why-us-img">
          <img src="img/why-us.jpg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="why-us-content">
          <!-- <p>Molestiae omnis numquam corrupti omnis itaque. Voluptatum quidem impedit. Odio dolorum exercitationem est error omnis repudiandae ad dolorum sit.</p> -->
          <p style="text-align:justify;">
            We are a young team united for the singular purpose of providing new and smart solutions. 
            Combining skills from top tier skills, we are always striving to achieve excellence and outperform every competition and task. 
            We believe that the long way isn't always the best one. These days, time is of the essence and a strong foundation is unmost important !
          </p>
          <p style="text-align:justify;">
            For a team to succeeded in the long run, it needs to be able to adapt to the changing times and trends and there are three main thing that we believe in.
          </p>

          <div class="features wow bounceInUp clearfix">
            <i class="fa fa-diamond" style="color: #f058dc;"></i>
            <h4>Strong Leadership</h4>
            <p style="text-align:justify;" >With our passion and new ideas we can produce a strong leader that have the vision to make Project Sucessfull.</p>
          </div>

          <div class="features wow bounceInUp clearfix">
            <i class="fa fa-object-group" style="color: #ffb774;"></i>
            <h4>Belives in Skills</h4>
            <p style="text-align:justify;">Belive is everything and we belives that with hardwork and skills we can make our work and Project the best. We keep on trying and make our Clients happy.</p>
          </div>
          
          <div class="features wow bounceInUp clearfix">
            <i class="fa fa-language" style="color: #589af1;"></i>
            <h4>Communication Between Teams</h4>
            <p style="text-align:justify;">Communication is one of the most important aspect for any project, Different Project different People, different spoken Languages we create an environment where people can freely speak and communicate with peoples.</p>
          </div>
          
        </div>

      </div>

    </div>

  </div>

<div class="container">
    <div class="row counters">

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">2</span>
        <p>Clients</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">08</span>
        <p>Projects</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">1,364</span>
        <p>Hours Of Support</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">9</span>
        <p>Hard Workers</p>
      </div>

    </div>
</div>