<div class="container">
    <div class="row">

      <div class="col-lg-5 col-md-6">
        <div class="about-img">
          <img src="/img/about-img.jpg" alt="">
        </div>
      </div>

      <div class="col-lg-7 col-md-6">
        <div class="about-content">
          <h2>About Us</h2>
          <!-- <h3>Odio sed id eos et laboriosam consequatur eos earum soluta.</h3> -->
          <p style="text-align:justify">We are based in Islamabad, Pakistan</p>
          <p style="text-align:justify;">The cost of a project ranges with its features and specific requests, for example, if you need a software developed for your local business/shop/store, a pre-designed product can cost anywhere from around 5 thousand to 50 thousand rupees. Factors such as project scale, effort, features and time required, all play a part on the overall cost.</p>
          <p style="text-align:justify;">Product customization options are widely available, from color schemes to connectivity, security and accessibility, everything can be tweaked and tuned to the customers' liking.</p>            
          <p style="text-align:justify;">The time taken for a project again depends upon the complexity and scale of the requirements. Pre built projects are readily available while custom projects can take anywhere from a few weeks to months. It all depends upon the customer requirements.</p>
          <p style="text-align:justify;">We specialize in software development, project analysis and management, game development, AI/ML and network security.</p>            
          <p style="text-align:justify;">If nothing else, you can fully expect your product to outstandingly perform the tasks you need it to, along with after-sales services, maintenance and updates (where valid). Quality is our utmost priority, and it will look great as well !</p>
          <!-- <ul>
            <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>