<div class="container">
    <header class="section-header">
      <h3>Frequently Asked Questions</h3>
      <p></p>
    </header>

    <ul id="faq-list" class="wow fadeInUp">
      <li>
        <a data-toggle="collapse" class="collapsed" href="#faq1">Where are we based ?<i class="ion-android-remove"></i></a>
        <div id="faq1" class="collapse" data-parent="#faq-list">
          <p style="text-align: justify;">
            We are based in Islamabad, Pakistan
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq2" class="collapsed">What is the cost of a developed project ?<i class="ion-android-remove"></i></a>
        <div id="faq2" class="collapse" data-parent="#faq-list">
          <p style="text-align: justify;">
            The cost of a project ranges with its features and specific requests, for example, if you need a software developed for your local business/shop/store, a pre-designed product can cost anywhere from around 5 thousand to 50 thousand rupees. Factors such as project scale, effort, features and time required, all play a part on the overall cost.
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq3" class="collapsed">Can I customize my product?<i class="ion-android-remove"></i></a>
        <div id="faq3" class="collapse" data-parent="#faq-list">
          <p style="text-align: justify">
            Product customization options are widely available, from color schemes to connectivity, security and accessibility, everything can be tweaked and tuned to the customers' liking.
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq4" class="collapsed">How much time does it take to have a project made ?<i class="ion-android-remove"></i></a>
        <div id="faq4" class="collapse" data-parent="#faq-list">
          <p style="text-align: justify;">
            The time taken for a project again depends upon the complexity and scale of the requirements. Pre built projects are readily available while custom projects can take anywhere from a few weeks to months. It all depends upon the customer requirements.
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq5" class="collapsed">What areas do we specialize in ?<i class="ion-android-remove"></i></a>
        <div id="faq5" class="collapse" data-parent="#faq-list">
          <p style="text-align: justify;">
            We specialize in Software Development, Project Analysis and Management, Game Development, AI/ML and network security.
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq6" class="collapsed">What can I expect from a completed project ?<i class="ion-android-remove"></i></a>
        <div id="faq6" class="collapse" data-parent="#faq-list">
          <p style="text-align: justify;">
            If nothing else, you can fully expect your product to outstandingly perform the tasks you need it to, along with after-sales services, maintenance and updates (where valid). Quality is our utmost priority, and it will look great as well !
          </p>
        </div>
      </li>

    </ul>

</div>